body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f9f9f9;
    text-align: center;
}

header {
    background: linear-gradient(to right, #d10000, #ff4d4d);
    color: white;
    padding: 60px 20px;
}

header button {
    background: white;
    color: red;
    padding: 12px 25px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
    margin-top: 15px;
}

.features {
    padding: 50px 20px;
}

.feature-box {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
}

.feature-box div {
    background: white;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

#search-section {
    padding: 50px 20px;
    background: #fff3f3;
}

select, input {
    padding: 10px;
    margin: 10px;
    width: 200px;
}

button {
    padding: 10px 20px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

#riskLevel {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
}

#results {
    margin-top: 20px;
}